<header>
    <span class="logo">&#9731;</span><span class="header">SeenIt</span>

    {{#if loggedIn}}
        <div id="profile"><span id="username">Hello, {{username}}!</span>|<a href="#/logout"id="linkMenuLogout">logout</a></div>
    {{/if}}

</header>

