<div id="menu">
    <div class="title">Navigation</div>
    <a class="nav" href="#/catalog" id="linkCatalog" data-target="Catalog">Catalog</a>
    <a class="nav" href="#/create" data-target="PostCreate">Create Post</a>
    <a class="nav" href="#/posts" id="linkMyPosts" data-target="MyPosts">My Posts</a>
    <a class="nav" href="#/about" data-target="About">About</a>
</div>
