{{#if isAnonymous}}
    <section id="viewAppHome">
        <h1>Welcome</h1>
        Welcome to our shopping system.
    </section>
{{else}}
    <section id="viewUserHome">
        <h1 id="viewUserHomeHeading">Welcome, {{username}}!</h1>
        <a href="#" id="linkUserHomeShop">Shop</a>
        <a href="#" id="linkUserHomeCart">Cart</a>
    </section>
{{/if}}