<section id="viewCreateBook">
    <h1>Create new book</h1>
    <div class="content">
        <form id="formCreateBook" action="#/createBook" method="post">
            <div>Title:</div>
            <div><input type="text" name="title" required /></div>
            <div>Author:</div>
            <div><input type="text" name="author" required /></div>
            <div>Description:</div>
            <div><textarea name="description" rows="10" required></textarea></div>
            <div><input type="submit" value="Create" /></div>
        </form>
    </div>
</section>