{{> header}}

<section id="viewBooks">
    <h1>Books</h1>
    <div class="content">
        <div id="books">
            <table>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>

                {{#each books}}
                    {{> book}}
                {{/each}}

            </table>
        </div>
    </div>
</section>

{{> footer}}
