<section id="viewPostCreate">
    <div class="submitArea">
        <h1>Create Post</h1>
        <p>Please, fill out the form. A thumbnail image/description is not required.</p>
        <form id="createPostForm" class="submitForm" action="#/create" method="post">
            <label>Link URL:</label>
            <input name="url" type="text">
            <label>Link Title:</label>
            <input name="title" type="text">
            <label>Link Thumbnail Image (optional):</label>
            <input name="image" type="text">
            <label>Description (optional):</label>
            <textarea name="description"></textarea>
            <input type="submit" value="Create Post">
        </form>
    </div>
</section>